__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env.local
.venv
venv/
ENV/
.git
.github
.gitignore
.DS_Store
*.md
!README.md
.vscode
.idea
*.log
dados/bkp/
DIA*.md
.pytest_cache
.coverage
htmlcov/
*.db
*.sqlite3
