{"openapi":"3.1.0","info":{"title":"MedID Data API","description":"**Plataforma de Inteligência em Saúde**\n\nAPI RESTful para análise de risco clínico e financeiro com dados oficiais:\n- ANVISA (medicamentos)\n- CMED (preços regulados)\n- CID-10 (classificação de doenças)\n- SIGTAP (procedimentos SUS)\n\n## Autenticação\n\nDois métodos de autenticação suportados:\n\n1. **JWT Bearer Token** (sessões web e aplicações):\n   ```\n   Authorization: Bearer <access_token>\n   ```\n\n2. **Chave de Acesso API** (integrações):\n   ```\n   Authorization: Bearer med_...\n   X-API-Key: med_...\n   ```\n\nObtenha tokens via `/auth/login` ou chaves via `/usuario/chaves`.\n\n## Rate Limiting\n\n- **Desenvolvimento**: sem limites\n- **Produção**: 60 req/min por IP, 1000 req/hora\n- **Por plano**: limites diários/mensais por usuário\n\n## Módulos\n\n- **Base de Medicamentos** — busca inteligente com fuzzy matching\n- **Análise de Risco** — motor de 9 dimensões com pontuação de glosa\n- **Gestão de Chaves** — criar e gerenciar chaves de integração\n- **Histórico de Consumo** — métricas e analytics de uso\n\n## Suporte\n\n- Documentação: https://mediddata.com/docs\n- Contato: contato@mediddata.com\n","contact":{"name":"MedID Data","url":"https://mediddata.com/","email":"contato@mediddata.com"},"license":{"name":"Proprietário","url":"https://mediddata.com/termos"},"version":"1.0.0"},"servers":[{"url":"https://mediddata.com","description":"Produção"},{"url":"http://localhost:8000","description":"Desenvolvimento"}],"paths":{"/saude":{"get":{"tags":["Sistema"],"summary":"Health check","description":"Verifica se a API está operacional. Usado por orquestradores (Railway, Kubernetes) para monitoramento.","operationId":"saude_saude_get","responses":{"200":{"description":"API operacional","content":{"application/json":{"schema":{},"example":{"status":"operacional","servico":"MedID Data","versao":"1.0.0","environment":"production"}}}}}}},"/auth/cadastro":{"post":{"tags":["Autenticação"],"summary":"Criar conta de usuário","operationId":"cadastrar_auth_cadastro_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CadastroEntrada"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenSaida"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/login":{"post":{"tags":["Autenticação"],"summary":"Autenticar usuário","operationId":"login_auth_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginEntrada"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenSaida"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/refresh":{"post":{"tags":["Autenticação"],"summary":"Renovar access token usando refresh token","operationId":"renovar_token_auth_refresh_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshEntrada"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenSaida"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/logout":{"post":{"tags":["Autenticação"],"summary":"Encerrar sessão","operationId":"logout_auth_logout_post","responses":{"204":{"description":"Successful Response"}}}},"/auth/me":{"get":{"tags":["Autenticação"],"summary":"Perfil do usuário autenticado","operationId":"perfil_me_auth_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioPerfil"}}}}}}},"/medicamentos/buscar":{"get":{"tags":["Medicamentos"],"summary":"Busca inteligente de medicamentos","description":"Busca medicamentos por nome comercial ou princípio ativo usando similaridade textual com correção ortográfica. Retorna dados ANVISA e preços CMED (PF, PMC, PMVG).\n\n**Requer autenticação** — JWT Bearer ou chave de acesso.","operationId":"buscar_medicamentos_medicamentos_buscar_get","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","minLength":2,"description":"Termo de busca","title":"Q"},"description":"Termo de busca"},{"name":"apenas_ativos","in":"query","required":false,"schema":{"type":"boolean","description":"Somente registros ativos ANVISA","default":true,"title":"Apenas Ativos"},"description":"Somente registros ativos ANVISA"},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Pagina"}},{"name":"limite","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limite"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicamentoBuscaResposta"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/medicamentos/{medicamento_id}":{"get":{"tags":["Medicamentos"],"summary":"Detalhes de um medicamento","operationId":"obter_medicamento_medicamentos__medicamento_id__get","parameters":[{"name":"medicamento_id","in":"path","required":true,"schema":{"type":"integer","title":"Medicamento Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicamentoDetalhe"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/analise/risco":{"post":{"tags":["Análise de Risco"],"summary":"Análise de risco de consistência clínica e financeira","description":"Avalia um conjunto medicamento + tratamento + CID + procedimento + quantidade + preço em 9 dimensões, gerando pontuações de aderência e risco, potencial de glosa e motivos explicáveis em português.\n\n**O potencial de glosa não representa uma glosa real nem uma decisão de operadora.** É um indicador preventivo baseado em inconsistências detectadas.\n\n**Requer autenticação** — JWT Bearer ou chave de acesso.","operationId":"analisar_risco_analise_risco_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnaliseEntrada"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnaliseResultado"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/usuario/consumo":{"get":{"tags":["Usuário"],"summary":"Resumo de consumo do plano","description":"Retorna o consumo diário e mensal do usuário em relação aos limites do plano contratado.","operationId":"obter_consumo_usuario_consumo_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumoResposta"}}}}}}},"/usuario/chaves":{"get":{"tags":["Usuário"],"summary":"Listar chaves de acesso ativas","operationId":"listar_chaves_usuario_chaves_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ChaveAcessoResposta"},"type":"array","title":"Response Listar Chaves Usuario Chaves Get"}}}}}},"post":{"tags":["Usuário"],"summary":"Criar nova chave de acesso","description":"Cria uma nova chave API no formato `med_...`. **A chave completa só é retornada na criação** — salve-a imediatamente, pois não será possível recuperá-la depois.","operationId":"criar_chave_usuario_chaves_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChaveAcessoEntrada"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChaveAcessoResposta"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/usuario/chaves/{chave_id}":{"delete":{"tags":["Usuário"],"summary":"Revogar chave de acesso","operationId":"revogar_chave_usuario_chaves__chave_id__delete","parameters":[{"name":"chave_id","in":"path","required":true,"schema":{"type":"integer","title":"Chave Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/usuario/perfil":{"put":{"tags":["Usuário"],"summary":"Atualizar nome do perfil","operationId":"atualizar_perfil_usuario_perfil_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtualizarPerfilEntrada"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Atualizar Perfil Usuario Perfil Put"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/usuario/senha":{"put":{"tags":["Usuário"],"summary":"Alterar senha","operationId":"alterar_senha_usuario_senha_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtualizarSenhaEntrada"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Alterar Senha Usuario Senha Put"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/api/estatisticas":{"get":{"tags":["Administração"],"summary":"Estatísticas do sistema","description":"Retorna métricas gerais: usuários, chaves API, consumo.","operationId":"obter_estatisticas_admin_api_estatisticas_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstatisticasResposta"}}}}}}},"/admin/api/usuarios":{"get":{"tags":["Administração"],"summary":"Listar todos os usuários","operationId":"listar_usuarios_admin_api_usuarios_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UsuarioDetalhado"},"type":"array","title":"Response Listar Usuarios Admin Api Usuarios Get"}}}}}},"post":{"tags":["Administração"],"summary":"Criar novo usuário","operationId":"criar_usuario_admin_api_usuarios_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CriarUsuarioEntrada"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioDetalhado"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/api/usuarios/{usuario_id}":{"put":{"tags":["Administração"],"summary":"Atualizar usuário","operationId":"atualizar_usuario_admin_api_usuarios__usuario_id__put","parameters":[{"name":"usuario_id","in":"path","required":true,"schema":{"type":"integer","title":"Usuario Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtualizarUsuarioEntrada"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioDetalhado"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Administração"],"summary":"Excluir usuário (soft delete)","operationId":"excluir_usuario_admin_api_usuarios__usuario_id__delete","parameters":[{"name":"usuario_id","in":"path","required":true,"schema":{"type":"integer","title":"Usuario Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/api/usuarios/{usuario_id}/resetar-senha":{"post":{"tags":["Administração"],"summary":"Resetar senha de usuário","operationId":"resetar_senha_usuario_admin_api_usuarios__usuario_id__resetar_senha_post","parameters":[{"name":"usuario_id","in":"path","required":true,"schema":{"type":"integer","title":"Usuario Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetarSenhaEntrada"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Resetar Senha Usuario Admin Api Usuarios  Usuario Id  Resetar Senha Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/api/usuarios/{usuario_id}/toggle-status":{"post":{"tags":["Administração"],"summary":"Ativar/desativar usuário","operationId":"toggle_status_usuario_admin_api_usuarios__usuario_id__toggle_status_post","parameters":[{"name":"usuario_id","in":"path","required":true,"schema":{"type":"integer","title":"Usuario Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioDetalhado"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AnaliseCid":{"properties":{"situacao":{"$ref":"#/components/schemas/Situacao"},"cid":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cid"},"descricao":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Descricao"},"motivo":{"type":"string","title":"Motivo","default":""}},"type":"object","required":["situacao"],"title":"AnaliseCid"},"AnaliseEntrada":{"properties":{"medicamento":{"type":"string","maxLength":300,"minLength":2,"title":"Medicamento","description":"Nome comercial ou princípio ativo"},"preco_informado":{"type":"number","maximum":999999.99,"minimum":0.0,"title":"Preco Informado","description":"Preço informado na guia (R$)"},"tratamento":{"type":"string","maxLength":500,"title":"Tratamento","description":"Descrição do tratamento ou diagnóstico clínico","default":""},"cid":{"type":"string","maxLength":10,"title":"Cid","description":"Código CID-10 (ex: J18.9)","default":""},"procedimento":{"type":"string","maxLength":20,"title":"Procedimento","description":"Código SIGTAP (ex: 03.01.01.007-2)","default":""},"quantidade":{"type":"integer","maximum":9999.0,"minimum":1.0,"title":"Quantidade","description":"Quantidade prescrita","default":1}},"type":"object","required":["medicamento","preco_informado"],"title":"AnaliseEntrada"},"AnalisePreco":{"properties":{"situacao":{"$ref":"#/components/schemas/Situacao"},"preco_informado":{"type":"number","title":"Preco Informado"},"pf":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf"},"pmc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc"},"pmvg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg"},"variacao_pf_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Variacao Pf Pct"},"variacao_pmc_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Variacao Pmc Pct"},"variacao_pmvg_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Variacao Pmvg Pct"},"motivo":{"type":"string","title":"Motivo","default":""}},"type":"object","required":["situacao","preco_informado"],"title":"AnalisePreco"},"AnaliseProced":{"properties":{"situacao":{"$ref":"#/components/schemas/Situacao"},"procedimento":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Procedimento"},"descricao":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Descricao"},"motivo":{"type":"string","title":"Motivo","default":""}},"type":"object","required":["situacao"],"title":"AnaliseProced"},"AnaliseQuantidade":{"properties":{"situacao":{"$ref":"#/components/schemas/Situacao"},"quantidade_informada":{"type":"integer","title":"Quantidade Informada"},"quantidade_esperada":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Quantidade Esperada"},"motivo":{"type":"string","title":"Motivo","default":""}},"type":"object","required":["situacao","quantidade_informada"],"title":"AnaliseQuantidade"},"AnaliseResultado":{"properties":{"aderente":{"type":"boolean","title":"Aderente"},"pontuacao_aderencia":{"type":"integer","maximum":100.0,"minimum":0.0,"title":"Pontuacao Aderencia"},"pontuacao_risco":{"type":"integer","maximum":100.0,"minimum":0.0,"title":"Pontuacao Risco"},"potencial_glosa":{"type":"string","title":"Potencial Glosa","description":"BAIXO | MEDIO | ALTO"},"classificacao_risco":{"type":"string","title":"Classificacao Risco","description":"BAIXO | MEDIO | ALTO"},"motivos":{"items":{"type":"string"},"type":"array","title":"Motivos"},"analise_tratamento":{"$ref":"#/components/schemas/AnaliseTratamento"},"analise_cid":{"$ref":"#/components/schemas/AnaliseCid"},"analise_procedimento":{"$ref":"#/components/schemas/AnaliseProced"},"analise_cid_procedimento":{"$ref":"#/components/schemas/AnaliseProced"},"analise_preco":{"$ref":"#/components/schemas/AnalisePreco"},"analise_quantidade":{"$ref":"#/components/schemas/AnaliseQuantidade"},"medicamento_encontrado":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Medicamento Encontrado"},"numero_registro":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Numero Registro"},"situacao_anvisa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Situacao Anvisa"}},"type":"object","required":["aderente","pontuacao_aderencia","pontuacao_risco","potencial_glosa","classificacao_risco","motivos","analise_tratamento","analise_cid","analise_procedimento","analise_cid_procedimento","analise_preco","analise_quantidade"],"title":"AnaliseResultado","description":"Resultado completo da análise de risco."},"AnaliseTratamento":{"properties":{"situacao":{"$ref":"#/components/schemas/Situacao"},"classe_terapeutica":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Classe Terapeutica"},"motivo":{"type":"string","title":"Motivo","default":""}},"type":"object","required":["situacao"],"title":"AnaliseTratamento"},"AtualizarPerfilEntrada":{"properties":{"nome":{"type":"string","maxLength":200,"minLength":2,"title":"Nome"}},"type":"object","required":["nome"],"title":"AtualizarPerfilEntrada"},"AtualizarSenhaEntrada":{"properties":{"senha_atual":{"type":"string","minLength":6,"title":"Senha Atual"},"senha_nova":{"type":"string","minLength":6,"title":"Senha Nova"}},"type":"object","required":["senha_atual","senha_nova"],"title":"AtualizarSenhaEntrada"},"AtualizarUsuarioEntrada":{"properties":{"nome":{"type":"string","maxLength":100,"minLength":2,"title":"Nome"},"email":{"type":"string","format":"email","title":"Email"},"perfil":{"type":"string","pattern":"^(USUARIO|ADMINISTRADOR)$","title":"Perfil"},"ativo":{"type":"boolean","title":"Ativo"},"limite_diario":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Limite Diario"},"limite_mensal":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Limite Mensal"}},"type":"object","required":["nome","email","perfil","ativo"],"title":"AtualizarUsuarioEntrada","description":"Dados para atualizar usuário existente (admin)."},"CadastroEntrada":{"properties":{"nome":{"type":"string","maxLength":200,"minLength":2,"title":"Nome","description":"Nome completo do usuário","examples":["João Silva"]},"email":{"type":"string","format":"email","title":"Email","description":"E-mail válido para cadastro","examples":["joao@empresa.com"]},"senha":{"type":"string","maxLength":100,"minLength":6,"title":"Senha","description":"Senha com mínimo de 6 caracteres","examples":["senha123"]}},"type":"object","required":["nome","email","senha"],"title":"CadastroEntrada","examples":[{"email":"joao@empresa.com","nome":"João Silva","senha":"senhaSegura123"}]},"ChaveAcessoEntrada":{"properties":{"nome":{"type":"string","maxLength":100,"minLength":3,"title":"Nome","description":"Nome descritivo da chave"}},"type":"object","required":["nome"],"title":"ChaveAcessoEntrada"},"ChaveAcessoResposta":{"properties":{"id":{"type":"integer","title":"Id"},"nome":{"type":"string","title":"Nome"},"prefixo":{"type":"string","title":"Prefixo"},"chave_completa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Chave Completa"},"ativa":{"type":"boolean","title":"Ativa"},"ultimo_uso_em":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Ultimo Uso Em"},"criado_em":{"type":"string","format":"date-time","title":"Criado Em"}},"type":"object","required":["id","nome","prefixo","ativa","criado_em"],"title":"ChaveAcessoResposta"},"ConsumoItem":{"properties":{"modulo":{"type":"string","title":"Modulo"},"total":{"type":"integer","title":"Total"}},"type":"object","required":["modulo","total"],"title":"ConsumoItem"},"ConsumoResposta":{"properties":{"plano":{"type":"string","title":"Plano"},"limite_diario":{"type":"integer","title":"Limite Diario"},"limite_mensal":{"type":"integer","title":"Limite Mensal"},"consumo_hoje":{"type":"integer","title":"Consumo Hoje"},"consumo_mes":{"type":"integer","title":"Consumo Mes"},"percentual_diario":{"type":"number","title":"Percentual Diario"},"percentual_mensal":{"type":"number","title":"Percentual Mensal"},"por_modulo_hoje":{"items":{"$ref":"#/components/schemas/ConsumoItem"},"type":"array","title":"Por Modulo Hoje"},"por_modulo_mes":{"items":{"$ref":"#/components/schemas/ConsumoItem"},"type":"array","title":"Por Modulo Mes"}},"type":"object","required":["plano","limite_diario","limite_mensal","consumo_hoje","consumo_mes","percentual_diario","percentual_mensal"],"title":"ConsumoResposta"},"CriarUsuarioEntrada":{"properties":{"nome":{"type":"string","maxLength":100,"minLength":2,"title":"Nome"},"email":{"type":"string","format":"email","title":"Email"},"senha":{"type":"string","maxLength":100,"minLength":6,"title":"Senha"},"perfil":{"type":"string","pattern":"^(USUARIO|ADMINISTRADOR)$","title":"Perfil","default":"USUARIO"},"limite_diario":{"type":"integer","minimum":0.0,"title":"Limite Diario","default":100},"limite_mensal":{"type":"integer","minimum":0.0,"title":"Limite Mensal","default":2000}},"type":"object","required":["nome","email","senha"],"title":"CriarUsuarioEntrada","description":"Dados para criar novo usuário (admin)."},"EstatisticasResposta":{"properties":{"total_usuarios":{"type":"integer","title":"Total Usuarios"},"usuarios_ativos":{"type":"integer","title":"Usuarios Ativos"},"total_chaves":{"type":"integer","title":"Total Chaves"},"requisicoes_hoje":{"type":"integer","title":"Requisicoes Hoje"}},"type":"object","required":["total_usuarios","usuarios_ativos","total_chaves","requisicoes_hoje"],"title":"EstatisticasResposta","description":"Estatísticas gerais do sistema."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LoginEntrada":{"properties":{"email":{"type":"string","format":"email","title":"Email","description":"E-mail cadastrado na plataforma","examples":["usuario@empresa.com"]},"senha":{"type":"string","minLength":1,"title":"Senha","description":"Senha do usuário","examples":["senha123"]}},"type":"object","required":["email","senha"],"title":"LoginEntrada","examples":[{"email":"joao@empresa.com","senha":"minhaSenha123"}]},"MedicamentoBuscaResposta":{"properties":{"total":{"type":"integer","title":"Total"},"pagina":{"type":"integer","title":"Pagina"},"limite":{"type":"integer","title":"Limite"},"termo":{"type":"string","title":"Termo"},"resultados":{"items":{"$ref":"#/components/schemas/MedicamentoItem"},"type":"array","title":"Resultados"},"sugestao":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sugestao","description":"Sugestão ortográfica quando sem resultados"}},"type":"object","required":["total","pagina","limite","termo","resultados"],"title":"MedicamentoBuscaResposta","description":"Resposta paginada da busca de medicamentos."},"MedicamentoDetalhe":{"properties":{"id":{"type":"integer","title":"Id"},"numero_registro":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Numero Registro"},"medicamento":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Medicamento"},"principio_ativo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Principio Ativo"},"fabricante":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fabricante"},"apresentacao":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apresentacao"},"categoria_regulatoria":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Categoria Regulatoria"},"classe_terapeutica":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Classe Terapeutica"},"situacao_anvisa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Situacao Anvisa"},"tarja":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tarja"},"forma_fisica":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Forma Fisica"},"sinonimos":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sinonimos"},"substancias":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Substancias"},"codigo_atc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Codigo Atc"},"indicacoes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indicacoes"},"pf":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf"},"pmc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc"},"pmvg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg"},"pf_12":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf 12"},"pmc_12":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc 12"},"pmvg_12":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg 12"},"pf_17":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf 17"},"pmc_17":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc 17"},"pmvg_17":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg 17"},"pf_18":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf 18"},"pmc_18":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc 18"},"pmvg_18":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg 18"}},"type":"object","required":["id"],"title":"MedicamentoDetalhe","description":"Detalhes completos de um medicamento."},"MedicamentoItem":{"properties":{"id":{"type":"integer","title":"Id"},"numero_registro":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Numero Registro"},"medicamento":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Medicamento","description":"Nome comercial"},"principio_ativo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Principio Ativo"},"fabricante":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fabricante"},"apresentacao":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apresentacao"},"dosagem":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Dosagem"},"situacao_anvisa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Situacao Anvisa","description":"Ativo ou Inativo"},"categoria_regulatoria":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Categoria Regulatoria"},"classe_terapeutica":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Classe Terapeutica"},"tarja":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tarja"},"pf":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pf","description":"Preço Fábrica sem impostos (R$)"},"pmc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmc","description":"Preço Máximo ao Consumidor 0% ICMS (R$)"},"pmvg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pmvg","description":"Preço Máximo de Venda ao Governo 0% ICMS (R$)"},"indicacoes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Indicacoes"},"score_relevancia":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score Relevancia","default":0.0}},"type":"object","required":["id"],"title":"MedicamentoItem","description":"Item de resultado de busca de medicamento."},"RefreshEntrada":{"properties":{"refresh_token":{"type":"string","title":"Refresh Token","description":"Refresh token obtido no login ou cadastro","examples":["eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."]}},"type":"object","required":["refresh_token"],"title":"RefreshEntrada","examples":[{"refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}]},"ResetarSenhaEntrada":{"properties":{"senha":{"type":"string","maxLength":100,"minLength":6,"title":"Senha","description":"Nova senha"}},"type":"object","required":["senha"],"title":"ResetarSenhaEntrada","description":"Dados para resetar senha de usuário (admin)."},"Situacao":{"type":"string","enum":["ADERENTE","ATENCAO","NAO_ADERENTE","NAO_INFORMADO"],"title":"Situacao"},"TokenSaida":{"properties":{"access_token":{"type":"string","title":"Access Token","description":"Token JWT para autenticação (válido por 30 minutos)","examples":["eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."]},"refresh_token":{"type":"string","title":"Refresh Token","description":"Token para renovar o access_token (válido por 7 dias)","examples":["eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."]},"tipo":{"type":"string","title":"Tipo","description":"Tipo de autenticação","default":"bearer"},"expira_em":{"type":"integer","title":"Expira Em","description":"Segundos até expiração do access_token","examples":[1800]}},"type":"object","required":["access_token","refresh_token","expira_em"],"title":"TokenSaida","examples":[{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","expira_em":1800,"refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","tipo":"bearer"}]},"UsuarioDetalhado":{"properties":{"id":{"type":"integer","title":"Id"},"nome":{"type":"string","title":"Nome"},"email":{"type":"string","format":"email","title":"Email"},"perfil":{"type":"string","title":"Perfil"},"ativo":{"type":"boolean","title":"Ativo"},"limite_diario":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limite Diario"},"limite_mensal":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limite Mensal"},"criado_em":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Criado Em"}},"type":"object","required":["id","nome","email","perfil","ativo"],"title":"UsuarioDetalhado","description":"Detalhes completos de um usuário (admin)."},"UsuarioPerfil":{"properties":{"id":{"type":"integer","title":"Id"},"nome":{"type":"string","title":"Nome"},"email":{"type":"string","title":"Email"},"perfil":{"type":"string","title":"Perfil"},"ativo":{"type":"boolean","title":"Ativo"}},"type":"object","required":["id","nome","email","perfil","ativo"],"title":"UsuarioPerfil"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}